node_modules
dist
dist-ssr
*.local

.env
.env.*
!.env.example

serviceAccountKey.json
*-firebase-adminsdk-*.json

.vercel
.firebase
firebase-debug.log
firestore-debug.log

logs
*.log
npm-debug.log*

.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*
!.env.example
